*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    background-color: rgb(58, 129, 0);
    */
    background-image: url('assets/monitor.png');
    background-size: 100% 120%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: none;
    

}

/* Position the button in the top right corner */
#mute-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
    margin-top: 100px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-image: url('assets/mute-button.png'); /* Add the image as the button's background */
    background-size: cover; /* Scale the image to cover the button */
  
  }
    
  
.score{
    font-size: 4em;
    margin-bottom: .5em;
    
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
/*
.mole, img {
    width: 200px;
    height: 200px;
}
*/
.hole{
    background-color: #4e4cb95b;
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}
.hole .mole {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2;
    animation: rise .3s ease-out;
}

.hole .bomb {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer5.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
    z-index: 1;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}
